@import "tailwindcss";

@theme {
  --color-brand-navy: #12203D;
  --color-brand-navy-light: #1C2F52;
  --color-brand-orange: #FF5A1F;
  --color-brand-orange-dark: #E04713;
  --color-brand-teal: #0FA98A;
  --color-brand-cream: #FFF9F2;

  --color-ink: #1B1F27;
  --color-line: #E7E1D6;
}